# General
.DS_Store
*.log
*.tmp

# Python
__pycache__/
*.py[cod]
*$py.class
backend/.env
backend/nykaa_data.db
*.db
backend/analysis_results.txt
backend/r.txt
venv/
.venv/

# Node/React
frontend/node_modules/
frontend/dist/
frontend/.env
.eslintcache

# Large Data
*.csv
*.pdf
